.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.screen {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.screen > .controls {
  position: absolute;
  padding: 30px;
}

.screen > .controls:hover{
  background-color: #000000ad;
}

button.control-button {
  background-color: #ffffff00;
  border-style: none;
  color: #ffffff1f;
  font-size: 26px;
}

button.control-button:hover {
  font-size: 28px;
  color: white;
}